.search-component {
  margin: 20px;
  input[type=text] {
    display: inline-block;
    width: 320px;
    height: 28px;
    padding-left: 7px;
    margin-right: 20px;
  }
  button {
    background: #006FB8;
    padding: 11px 45px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
  }
}
